.content-div {
    width: 70%;
    margin: 1rem!important;
    /* width: 800px; */
}

/* .FUtable {
    background-color: teal;
    min-width: 0!important;
} */

/* .css-quj9j6-MuiTable-root {
    min-width: none!important;
    background-color: orangered;
    width: 10px!important;
} */