.App {
  position: relative;
}

.backdropPopUpdiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, .7);
  height: 100vh;
  z-index: 3;
}

.popupAddEventdiv {
  text-align: center;
  background-color: whitesmoke;
  width: 50vw;
  height: 50vh;
  border-radius: 20px;
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
}