@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Roboto+Slab&display=swap');

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
  .MuiTypography-h6 { font-size: 12pt!important; }
  li { font-size: 12pt; }  
  .MuiListItemText-primary { font-size: 11pt!important;}
  .componentTitleH1 { font-size: 12pt;}
  table { font-size: 10pt;}
  .btnIconNavbar { height: 25px!important; width: 25px!important;}
  .addRest-btn { width: 25px; height: 25px; font-size: 1pt!important;}
  .addmodalContent { padding: 0.5rem;}
  .addmodalContent button { width: 75px; font-size: 7pt;}
  .addmodalContent input { font-size: 12pt; padding: 1rem; }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root { margin: 10px!important; font-size: 8pt!important;}
  .divLoginForm input {width: 50%; font-size: 8pt;}
  .css-1eed5fa-MuiInputBase-root-MuiInput-root { width: 50%;  font-size: 8pt;}
  .css-pl8gqh-MuiStack-root>:not(style):not(style) { font-size: 8pt; }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

.App {
  text-align: center;
  position: relative;
}

.contentdiv-display {
  background-color: white;
}

.contentproductos-acc {
  box-shadow: none!important;
  
}

table {
  width: 100%;
  height: 100%;
}

table thead {
  background: #1B1F24;
  color: white;
}

table tbody tr {
  margin: 0;
  padding: 0;
}

table tbody tr:nth-child(odd) {
  background-color: #EBEBEB;
}

.tableDivContent {
  height: 40vh;
  overflow: scroll;
}

.restaurantesContentdiv-comp button {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
}

.addmodalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .89);
  width: 100vw;
  height: 100vh;
}

.addmodalContent {
  position: absolute;
  background-color: whitesmoke;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  overflow: scroll;
  border-radius: 10px;
}

.restauranteComp-btn {
  background-color: #CB356B;
  margin: 1rem;
  width: 35%;
  color: white;
}

.contentDisplay-div {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}

.contentDivHeader {
  background-color: tan;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  background: #8A2387;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
  padding-top: 10px;
}

.contentDivTable {
  margin-top: 4rem;
  /* background-color: #CB356B; */
}