@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Roboto+Slab&display=swap');

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
  .MuiTypography-h6 { font-size: 12pt!important; }
  li { font-size: 12pt; }  
  .MuiListItemText-primary { font-size: 11pt!important;}
  .componentTitleH1 { font-size: 12pt;}
  table { font-size: 10pt;}
  .btnIconNavbar { height: 25px!important; width: 25px!important;}
  .addRest-btn { width: 25px; height: 25px; font-size: 1pt!important;}
  .addmodalContent { padding: 0.5rem;}
  .addmodalContent button { width: 75px; font-size: 7pt;}
  .addmodalContent input { font-size: 12pt; padding: 1rem; }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

.App {
  text-align: center;
  position: relative;
}

.contentdiv-display {
  background-color: white;
}

.contentproductos-acc {
  box-shadow: none!important;
  
}

table {
  width: 100%;
  height: 100%;
}

table thead {
  background: #1B1F24;
  color: white;
}

table tbody tr {
  margin: 0;
  padding: 0;
}

table tbody tr:nth-child(odd) {
  background-color: #EBEBEB;
}

.tableDivContent {
  height: 40vh;
  overflow: scroll;
}

.restaurantesContentdiv-comp button {
  padding: 0.5em;
  border: none;
  border-radius: 2px;
}

.addmodalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .89);
  width: 100vw;
  height: 100vh;
}

.addmodalContent {
  position: absolute;
  background-color: whitesmoke;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  overflow: scroll;
  border-radius: 10px;
}