/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
    background-color: aliceblue!important;
} */

.addEventinput {
    width: 800px!important;
}

.low {
    background-color: #D0E6A5;

}

.medium {
    
}

.high {

}