.divLoginBackdrop {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: #CB356B;
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    background: linear-gradient(to right, #BD3F32, #CB356B);
}

.divLogin-left {
    position: absolute;
    top: 0;
    background-color: #1F2029;
    width: 50vw;
    height: 100vh;
}

.divLogin-right {
    position: absolute;
    top: 0;
    right: 0; 
    width: 50%;
}

.divLoginForm {
    position: absolute;
    border: solid 2px #CB356B;
    height: auto;
    top: 25%;
    width: 50%;
    left: 25%;
    border-radius: 10px;
    /* padding-right: 5px;
    padding-left: 5px; */
    padding-bottom: 50px;
    text-align: center;
}

#alertLoginWarning {
    display: none;
    height: auto;
}

#alertLoginError {
    display: none;
}

.loginAlerts {
    margin: 10px;
}

.btnLogin {
    margin-left: 10%!important;
    margin-right: 10%!important;
    width: 80%!important;
    background: #CB356B;
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    background: linear-gradient(to right, #BD3F32, #CB356B);
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: #EBEBEB!important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    color: #EBEBEB!important;
 }

 /* Label with text in input */
 .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    color: #EBEBEB!important;
 }

 .css-1x51dt5-MuiInputBase-input-MuiInput-input {
    width: 100%!important;
 }


/* 



.divLogin-content {
    float: left;
    height: 100vh;
    color: white;
}

.divLogin-left {
    background-color: teal;
    width: 50vw;
}

.divLogin-right {
    /* background: #CB356B;
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    background: linear-gradient(to right, #BD3F32, #CB356B); 
    width: 50%;
}

.divLoginForm {
    position: absolute;
    border-radius: 20px;
    border: solid 4px #CB356B;
    height: auto;
    width: 50%;
    top: 25%;
    padding-bottom: 2rem;
}

.divLoginForm form {
    width: 100%;
    margin: 5px;
}

.divLoginForm input {
    color: whitesmoke;
    border-bottom: solid 2px whitesmoke;
    transition: all 300ms;
}

/* Active label 
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    color: whitesmoke!important;
}

/* Unfocused label 
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: whitesmoke!important;
}

.divLoginForm .MuiInputBase-input:focus {
    color: #CB356B;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #CB356B!important;
}

.divLoginForm .btnLogin {
    background-color: #CB356B;
    width: 50%;
    left: 25%;
}

#alertLoginWarning {
    display: none;
    height: auto;
}

#alertLoginError {
    display: none;
}

.loginAlerts {
    margin: 10px;
}



*/