.inputFormUserData {
    border: none;
    border-bottom: solid 2px black;
    width: 100%;
    margin-bottom: 2em;
}

.inputFormUserData:focus {
    outline: none;
    color: #5B86E5;
    border-bottom: solid 2px #5B86E5;
}

.actionBtn {
    width: 100%;
}

.confirmButton {
    border: none;
    padding: 1em;
    color: whitesmoke;
}

.landingWrapper-content {
    
}