.landingContent {
    /* position: relative;
    position: absolute; */
    background-color: whitesmoke;
    width: 90%;
    height: 50%;
    margin-top: 50%;
    margin-left: 5%;
    text-align: center;
    padding: 0.05em;
    border-radius: 20px;

    box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.53);
    overflow: scroll;
}

.contentInput {
    background-color: #b3b4b4;
    border: solid 2px #b3b4b4;
    width: 90%;
}

.contentInput::placeholder {
    color: white;
}



.landingContent li button {
    position: absolute;
    right: 1em;
    top: 25%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.vanish-item {
    display: none!important;
}